
#text_name {
	width:100%;
	margin :20px auto;
	font-size: 60px;
	text-align : center;
}



#bt {
	width:80%;
	margin :20px auto;
	 font-family: helvetica;
	text-align : center;
}

.best_name{
	font-weight: bold;
	line-height:150%;
	 font-family: helvetica;

}
.best_soname{
	color: gray;
	font-size:12px; 
	width:70%
	
}
.price{
	font-size: 100%;
	font-weight: bold;
	line-height:120%;
	 font-family: helvetica;
}